@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body{
  background: #fff;
  font-family: 'PT Sans', sans-serif;
}
h2{
  padding-top: 1.5rem;
}
a{
  color: #333;
}
a:hover{
  color: #005DA6D8;
  text-decoration: none;
}
.card{
  border: 0.40rem solid #f8f9fa;
  top: 10%;
}
.form-control{
  background-color: #f8f9fa;

  margin-bottom: 1.3rem;
}

.form-control:focus {

  color: #000000;
  background-color: #ffffff;
  border: 3px solid rgba(0, 93, 166, 0.85);
  outline: 0;
  box-shadow: none;

}

.btn{
  padding: 0.6rem 1.2rem;
  background: #6aa5d9;
  border: 2px solid #57a8da;
}
input:hover{
  border-color: #6aa5d9;
}

