<app-details-categorie
  [categorie]="updatedCat"
  [ajout]="ajout"
  (categorieUp)="categorieUp($event)"
></app-details-categorie>
<div class="container col-12">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-hover table-responsive">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          @for (cat of ListesCats; track $index) {
          <tr>
            <td>{{ cat.idCat }}</td>
            <td>{{ cat.nomCat }}</td>
            <td>
              <button
                type="button"
                (click)="supprimerCat(cat)"
                class="btn btn-danger d-none d-md-block"
              >
                Supprimer
              </button>
            </td>
            <td>
              <button
                type="button"
                (click)="categorieUpdate(cat)"
                class="btn btn-success d-none d-md-block"
              >
                Modifier
              </button>
            </td>
          </tr>

          }
        </tbody>
      </table>
    </div>
  </div>
</div>
