<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="card shadow mb-4">
        <div class="card-body">
          <table class="table table-hover table-responsive">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Date de création</th>
                <th>Catégorie</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              @for (p of produits; track $index) {
              <tr>
                <td>{{ p.idProduit }}</td>
                <td>{{ p.nomProduit }}</td>
                <td>{{ p.prixProduit }}</td>
                <td>{{ p.dateCreation | date : "dd-MM-yyyy" }}</td>
                <td>{{ p.categorie!.nomCat }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-danger d-none d-md-block"
                    (click)="supprimerProduit(p)"
                  >
                    Supprimer
                  </button>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-success d-none d-md-block"
                    (click)="goToProduit(p)"
                  >
                    Modifier
                  </button>
                </td>
              </tr>

              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
