<form>
  <div class="m-3">
    @if(!ajout) {
    <label for="idCat" class="form-label">ID</label>
    <input
      type="number"
      [(ngModel)]="categorie.idCat"
      class="form-control"
      id="idCat"
      name="idCat"
      readonly
    />
    }

    <label for="nomCat" class="form-label">Nom Catégorie</label>
    <input
      type="text"
      [(ngModel)]="categorie.nomCat"
      class="form-control"
      id="nomCat"
      name="nomCat"
    />
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button
      class="btn btn-outline-success mb-3"
      (click)="saveCategorie()"
      [disabled]="!categorie.nomCat"
      type="submit"
    >
      @if (ajout==true) { Ajouter } @else { Modifier }
    </button>
  </div>
</form>
