<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <h2 class="card-title text-center">Connexion</h2>
        <div class="card-body py-md-4">
          <form class="form-group">

            <div class="form-group">
              <input type="text"
                     name="username"
                     placeholder="nom d'utilisateur"
                     [(ngModel)]="user.username"
                     class="form-control">
            </div>

            <div class="form-group">
              <input type="password"
                     name="password"
                     placeholder="mot de passe"
                     [(ngModel)]="user.password"
                     class="form-control">
            </div>

            <div class="d-flex flex-row align-items-center justify-content-center">
              <button type="button"
                      (click)="onLoggedin()"
                      class="btn btn-primary btn-block mt-4">
                Se connecter
              </button>
            </div>
          </form>
        </div>
        @if (erreur==1){


        <div class="alert alert-danger" role="alert">
          Nom d'utilisateur ou mot de passe erroné !
        </div>
        }
        <div style="text-align: center;">
          <p> Vous n'avez pas de compte
            <a type="button" routerLink="/register">S'incrire ?</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
