<div
  class="card text-center w-75 mb-3 col-12"
  data-bs-theme="dark"
  style="width: 18rem; margin: auto"
>
  <div class="card-body">
    <h5 class="card-title">Ajouter un produit</h5>
    <form action="">
      <div hidden class="m-3">
        <label class="text-info-emphasis">ID Produit</label>
        <input
          type="text"
          [(ngModel)]="newProduit.idProduit"
          name="idProduit"
          class="form-control"
        />
      </div>
      <div class="m-3">
        <label class="text-info-emphasis">Nom Produit</label>
        <input
          type="text"
          [(ngModel)]="newProduit.nomProduit"
          name="nomProduit"
          class="form-control"
        />
      </div>
      <div class="m-3">
        <label class="text-info-emphasis">Prix Produit</label>
        <input
          type="number"
          [(ngModel)]="newProduit.prixProduit"
          name="prixProduit"
          class="form-control"
        />
      </div>
      <div class="m-3">
        <label class="text-info-emphasis">Date création</label>
        <input
          type="date"
          [(ngModel)]="newProduit.dateCreation"
          name="dateCreation"
          class="form-control"
        />
      </div>

      <div class="m-3">
        <label class="text-info-emphasis">Catégorie</label>
        <select
          name="idCat"
          id="idCat"
          type="text"
          [(ngModel)]="newIdCat"
          name="idCat"
          class="form-control"
        >
          @for (cat of Categories; track $index) {
          <option [value]="cat.idCat">
            {{ cat.nomCat }}
          </option>
          }
        </select>
      </div>

      <a (click)="addProduit()" class="btn btn-primary m-4">Ajouter</a>

      <a (click)="retourHome()" class="btn btn-danger m-4">Annuler</a>
      @if (newProduit.prixProduit != undefined &&
      newProduit.nomProduit!=undefined && newProduit.dateCreation!=undefined ) {
      <div>
        <h1>{{ message }}</h1>
      </div>
      }
    </form>
  </div>
</div>
